@model Embrace.Models.CreateDocumentViewModel

@{
    ViewData["Title"] = "Translate Document";
}

<h1>Upload a Document to be Translated</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocumentFile" class="form-label">Document (.pdf, .txt)</label>
                <input asp-for="DocumentFile" type="file" class="form-control" />
                <span asp-validation-for="DocumentFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalLanguage" class="control-label">Current Language</label>
                <input asp-for="OriginalLanguage" class="form-control" />
                <span asp-validation-for="OriginalLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetLanguage" class="control-label">Desired Language</label>
                <input asp-for="TargetLanguage" class="form-control" />
                <span asp-validation-for="TargetLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Translate" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
