@model IEnumerable<Embrace.Models.Document>

@{
    ViewData["Title"] = "Document Translation";
}

<link rel="stylesheet" href="/css/documents.css" />

<h1>My Documents</h1>

<div class="row">
    <div class="col-md-6 doc-upload-left">
        <p class="doc-upload-description">
            Having a hard time translating something? Upload your document here, select your preferred language, and receive a translated version back!
        </p>
        <a class="btn btn-create" asp-action="Create">Upload a New Document</a>
    </div>

    <div style="overflow-x:auto;" class="col-md-6">
        <table class="table table-borderless table-sm">
            <tbody>
                @for (int i = 1; i <= 2; i++)
                {
                    <tr class="document-row">
                        <td>
                            <div class="document-image">
                                <img src="/images/documentIcon.png" class="card-img-doc" alt="Document Icon">
                            </div>
                        </td>
                        <td>
                            Document @i
                        </td>
                        <td>
                            Uploaded On: 3/30/2025
                        </td>
                        <td>
                            <div class="d-flex flex-column justify-content-between gap-2">
                                <a class="btn btn-details document-button" asp-action="Details" asp-route-id="">Details</a>
                                    <a class="btn btn-download document-button" asp-action="Download" asp-route-id="">Download</a>
                                    <a class="btn btn-delete document-button" asp-action="Delete" asp-route-id="">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--
<section class="container my-5">
    <div class="row">
@foreach (var item in Model)
{
            <div class="col-md-4">
                <div class="card shadow-sm">
                            <img src="/images/documentIcon1.png" class="card-img-top" alt="Document Icon">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">Uploaded on: @item.CreatedOn.ToShortDateString()</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id=@item.Id>Details</a>
                                    <a class="btn btn-success" asp-action="Download" asp-route-id=@item.Id>Download</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                                </div>
                            </div>
                </div>
            </div>
}
    </div>
</section>
-->
