@model IEnumerable<Embrace.Models.Document>

@{
    ViewData["Title"] = "Document Translation";
}

<h1>My Documents</h1>

<p>
    <a class="btn btn-create" asp-action="Create">Upload a New Document</a>
</p>

<section class="container my-5">
    <div class="row">
        @for (int i = 1; i <=3; i++)
        {
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <img src="@("/images/documentIcon" + i + ".png")" class="card-img-doc" alt="Document Icon">
                    <div class="card-body">
                        <h5 class="card-title">Document @i</h5>
                        <p class="card-text">Uploaded on: 3/28/2025</p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-details" asp-action="Details" asp-route-id="">Details</a>
                            <a class="btn btn-download" asp-action="Download" asp-route-id="">Download</a>
                            <a class="btn btn-delete" asp-action="Delete" asp-route-id="">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<!--
<section class="container my-5">
    <div class="row">
@foreach (var item in Model)
{
            <div class="col-md-4">
                <div class="card shadow-sm">
                            <img src="/images/documentIcon1.png" class="card-img-top" alt="Document Icon">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">Uploaded on: @item.CreatedOn.ToShortDateString()</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-primary" asp-action="Details" asp-route-id=@item.Id>Details</a>
                                    <a class="btn btn-success" asp-action="Download" asp-route-id=@item.Id>Download</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                                </div>
                            </div>
                </div>
            </div>
}
    </div>
</section>
-->
