.connection-corner-description {
    padding-top: .8em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/* card styling */
.square-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    max-height: 18em;
}

.card-body {
    flex-grow: 1;
}

/* card header */
.card-title {
    margin: 0px;
}
.card-header {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.card-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    font-size: 0.9rem;
}

.card-count {
    font-weight: bold;
}

.discussion-board-card-buttons {
    width: 100%;
    margin: 0px 18px 10px 0px;
    text-align: right;
}

/* ensure square shape */
.square-card {
    aspect-ratio: 1;
}

@media (max-width: 767px) {
    .square-card {
        aspect-ratio: 1;
    }

    .row {
        gap: 0.5rem;
    }
}
