.connection-corner-description {
    padding-top: 0.8em;
}

:root {
    --base: 1.35; /* multiplier across elements */
    --background: hsl(360 100% 100%);
}

.no-discussion-boards {
    margin: 4em;
    text-align: center;
    justify-content: center;
}

/* card styling reference code: https://codepen.io/collection/XLRrqW/ */
/* fading effect reference code: https://css-tricks.com/recreating-mdns-truncated-text-effect/*/
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
}

.discussion-board-row {
    justify-items: center;
}

.title-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 75%;
    height: min-content;
    text-align: left;
}

.comments {
    justify-items: center;
    background-color: #FFFFFF;
    width: 75%;
    margin-top: .2em;
}

.comment-container {
    width: 90%;
    padding: .2em .2em .2em .2em;
}

.comment-card {
    margin-top: .2em;
    padding: .5em .5em .5em .5em;
    background-color: #f8f9fa;
    border-radius: 8px;
    width: 100%;
    height: min-content;
    text-align: left;
}

.comment-header {
    background-color: #f8f9fa;
    justify-content: left;
    font-weight: bold;
}

.comment-card-body {
    padding: 0.5rem 1rem;
}

.comment-card p {
    font-size: .8em;
}

.title-card-body {
    padding: 0.5rem 1rem;
}

.title-tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title-card-metadata {
    padding-bottom: 1em;
}

.title-card-metadata p {
    font-style: italic;
}

.title-user, .title-date-posted {
    display: flex;
    align-items: center;
}

.title-user p, .title-date-posted p {
    margin: 0px;
}

.title-icon-image img {
    max-width: 1.2em;
    max-height: 1.2em;
    margin-right: .5em;
}

.card {
    flex: 1 0 100%;
    height: 15em;
}

@media screen and (min-width: 62em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .45em;
    }

    .card {
        flex: 0 1 calc(49.5%);
        height: 15em;
    }
}

@media screen and (min-width: 88em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .45em;
    }

    .card {
        flex: 0 1 calc(32.85%);
        height: 15em;
    }
}

.card-header, .card-header:hover {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 0.5em;
    text-decoration: none;
    color: #000000;
}

.card-header p {
    margin: 0px;
}

.header-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 0px;
    gap: 0.5rem;
}

.header-right {
    width: fit-content;
    justify-content: center;
    justify-items: right;
}

.post-comment-button-row {
    text-align: right;
    margin-top: .4em;
}

.discussion-tag {
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    white-space: nowrap;
    object-fit: contain;
    width: fit-content;
    flex-shrink: 0;
}

.question-tag {
    background-color: #dafad2; /* green */
    color: #285c1b;
    border: 1px solid #285c1b;
}

.conversation-tag {
    background-color: #d6e3f4; /* blue */
    color: #3178c6;
    border: 1px solid #3178c6;
}

.meetup-tag {
    background-color: #fadeb9; /* orange */
    color: #cb7b11;
    border: 1px solid #cb7b11;
}

.announcement-tag {
    background-color: #e3dfff; /* purple */
    color: #46355f;
    border: 1px solid #46355f;
}

.event-tag {
    background-color: #fff5ff; /* pink */
    color: #800065;
    border: 1px solid #800065;
}

.other-tag {
    background-color: #d8d8d8; /* gray */
    color: #515151;
    border: 1px solid #515151;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    margin: 0px;
    text-align: left;
}

.card-body p {
    max-height: calc(8rem * var(--base));
    overflow: hidden; /* truncate text so that it stays within the body area */
    position: relative;
    font-size: .9em;
}

.card-body p.fade-if-overflow:after {
    content: "";
    background: linear-gradient(to right, transparent, var(--background) 80%);
    display: block;
    height: calc(1rem * var(--base) + 10px);
    inset-block-end: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.card-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 0.5rem;
}

.card-text {
    margin: 0px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    font-size: 0.9rem;
    width: 100%;
}

.card-count {
    font-weight: bold;
}


.discussion-board-card-buttons {
    width: 100%;
    margin: 0 18px 10px 0;
    text-align: right;
}
