.document-image img {
    max-width: 7em;
    max-height: 7em;
    object-fit: cover;
    padding: 0px;
}

.tbody {
    padding-top: 0px;
}

.table .document-row {
    height: auto;
    padding-top: 0;
}

.doc-upload-left {
    padding-top: .6em;
}

.doc-upload-description {
    padding-bottom: 1em;
}

.language-row th, .language-row td {
    padding: 0px 0px 0px 0px;
}

.lang-selection-title {
    font-weight: bold;
    padding: 1em 0em 0em 0em;
    margin: 0px;
}

.translate-btn {
    margin-top: .4em;
}