.resource-image {
    width: 8em;
}
.resource-image img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto; 
}

.service-categories {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
}

.checkmark-bullet {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 25px;
    background-image: url('/images/checkmarkIcon.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
}

.search-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.form-select, .form-control {
    font-size: inherit;
}

/* table styling */
.table {
    border-spacing: 0px 10px;
    border-collapse: separate;
}

.table td, .table th {
    padding: 1em;
    align-content: center;
}

.table th h4 {
    color: white;
}

.table .resource-header {
    background-color: #004080;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.resource-row {
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}