html {
  font-size: 1em;
}

@media (min-width: 768px) {
    html {
        font-size: 1em;
    }
}

.search-container .d-flex {
    display: flex;
    gap: 0.5rem;
    margin-bottom: .5rem;
}

.search-container .btn,
.search-container .form-select,
.search-container .form-control {
    flex: 1 1 auto; /* they can grow/shrink as needed */
    min-width: 6em; /* prevents them from becoming too narrow */
}

.form-select, .form-control {
    font-size: inherit;
    margin: 2px;
}

@media (max-width: 62em) {
    .search-container .d-flex {
        flex-wrap: wrap;
    }
}

/* button styling */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
    margin-top: .3em;
}

.btn {
    color: white;
    white-space: nowrap;
    margin: 2px;
}

.btn-create {
    background-color: #9656a2;
}

.btn-create:hover {
    background-color: #81488c;
    color: white;
}

.btn-search {
    background-color: #17a2b8;
}

.btn-search:hover {
    background-color: #13919d;
    color: white;
}

.btn-details {
    background-color: #dec000;
}

.btn-details:hover {
    background-color: #c4a700;
    color: white;
}

.btn-save {
    background-color: #EB9E46;
}

.btn-save:hover {
    background-color: #D58932;
    color: white;
}

.btn-delete {
    background-color: #de324c;
}

.btn-delete:hover {
    background-color: #c42a42;
    color: white;
}
/* end button styling */

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E1F2F7;
    font-family: 'Lato', serif;
    font-size: 1.3em;
}

.lead {
    font-weight: normal;
}

h1 {
    padding-top: .5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Lustria', serif;
}

.navbar {
    background-color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Lustria', serif;
    font-size: 1em;
}

.navbar-nav, .btn {
    font-family: 'Lustria', serif;
    font-size: 1em;
}

.nav-item {
    padding-right: .8em;
}

.welcome-text {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
}

/* card styling */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    height: 100%;
}

.col-md-4 {
    padding-bottom: 1em;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    text-align: left;
}

.card, .card:hover {
    background-color: #FFFFFF;
    box-shadow: rgba(0,0,0,0,4);
    text-decoration: none;
    color: #000000;
    border-radius: 8px;
}

.card-img {
    height:210px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.card-img-doc {
    height: 210px;
    padding-top: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 1em;
}

.card-text {
    font-size: 1em;
    font-weight: normal;
}

/* table styling */
.table {
    border-spacing: 0px 10px;
    border-collapse: separate;
}

.table td, .table th {
    padding: .7em;
    align-content: center;
    text-align: left;
}

.table th h4 {
    color: white;
    padding: 2px;
}

.resource-header {
    background-color: #004080;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.resource-row, .document-row {
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.footer {
    position: absolute;
    bottom: 1em;
    margin-bottom: 0px;
    width: 100%;
}

.create-page {
    padding-top: .8em;
}